absl-py==0.10.0
adabound==0.0.5
adanet==0.8.0
addict==2.2.1
adversarial-robustness-toolbox==1.1.0
aiohttp==3.6.2
albumentations==0.4.6
alembic==1.4.2
alpha-vantage==2.1.3
altair==4.0.1
amqp==2.6.1
aniso8601==7.0.0
annoy==1.16.3
ansiwrap==0.8.4
appdirs==1.4.4
arrow==0.15.5
astor==0.8.1
astroid==2.4.2
astropy==4.0.1.post1
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs==19.3.0
audioread==2.1.8
Augmentor==0.2.8
autocommand==2.2.1
autograd==1.3
autograd-gamma==0.4.2
autokeras==1.0.0
autopep8==1.5.3
backcall==0.2.0
bandit==1.6.2
bayesian-optimization==1.0.1
bcrypt==3.2.0
beautifulsoup4==4.8.2
bernhard==0.2.6
billiard==3.6.3.0
black==19.10b0
blaze==0.10.1
bleach==3.1.5
blinker==1.4
blis==0.4.1
boltons==20.0.0
boto==2.49.0
boto3==1.11.9
botocore==1.14.17
bottle==0.12.18
Bottleneck==1.3.1
bqplot==0.12.2
branca==0.4.1
brotlipy==0.7.0
bs4==0.0.1
cachetools @ file:///tmp/build/80754af9/cachetools_1596822027882/work
cassandra-driver==3.21.0
catalogue==1.0.0
category-encoders==2.1.0
celery==4.4.0
certifi==2020.6.20
certipy==0.1.3
cffi==1.14.0
chainer==7.1.0
chardet==3.0.4
chart-studio==1.1.0
classy-vision==0.2.0
click==7.1.2
click-spinner==0.1.10
cliff==3.4.0
cloudant==2.12.0
cloudpickle==1.5.0
cma==3.0.3
cmaes==0.6.0
cmd2==1.3.5
colorama==0.4.3
colorlog==4.2.1
colorlover==0.3.0
combo==0.1.1
conda==4.8.4
conda-build==3.18.11
conda-package-handling==1.7.0
configobj==5.0.6
configparser==5.0.0
confuse==1.3.0
contextlib2==0.6.0.post1
coremltools==3.2
CouchDB==1.2
coverage==4.5.4
cryptography @ file:///tmp/build/80754af9/cryptography_1598371423123/work
cssselect==1.1.0
cufflinks==0.17.0
cx-Oracle==7.3.0
cycler==0.10.0
cymem==2.0.3
cysignals==1.10.2
Cython @ file:///tmp/build/80754af9/cython_1594831564311/work
cytoolz==0.10.1
dask==2.9.2
dask-glm==0.2.0
dask-ml==1.2.0
databricks-cli==0.11.0
dataclasses==0.6
dataset==1.2.0
datashape==0.5.2
datasketch==1.5.0
deap==1.3.1
decorator==4.4.2
defusedxml==0.6.0
dgl==0.4.2
diamond==4.0.515
dill==0.2.7.1
distlib==0.3.1
distributed==2.9.3
dm-sonnet==1.35
docker==4.1.0
docopt==0.6.2
docutils==0.15.2
dparse==0.5.1
edward==1.3.5
elasticsearch==7.5.1
eli5==0.10.1
empyrical==0.5.3
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz
entrypoints==0.3
enum34==1.1.10
et-xmlfile==1.0.1
fabric==2.5.0
facets-overview==1.0.0
fairseq==0.9.0
faiss==1.6.3
fake-useragent==0.1.11
fastai==1.0.60
fastapi==0.47.1
fastcache==1.1.0
fastprogress==1.0.0
fastscript==1.0.0
fasttext==0.9.1
featuretools==0.13.1
filelock==3.0.12
fire==0.2.1
flake8==3.8.3
flashtext==2.7
Flask==1.1.2
Flask-Cors==3.0.8
folium==0.10.1
foolbox==2.3.0
freetype-py==2.2.0
fs==2.4.11
ftfy==5.6
funcy==1.14
future==0.18.2
fuzzywuzzy==0.17.0
gast==0.2.2
gensim==3.8.1
geocoder==1.38.1
geographiclib==1.50
geojson==2.5.0
geomet==0.1.2
geoplotlib==0.3.2
geopy==1.20.0
gin-config==0.3.0
gitdb==4.0.5
GitPython==3.1.7
Glances==3.1.5
glob2==0.7
gluoncv==0.6.0
gluonnlp==0.8.3
google-api-core==1.22.1
google-auth @ file:///tmp/build/80754af9/google-auth_1596863485713/work
google-auth-oauthlib==0.4.1
google-cloud-bigquery==1.27.2
google-cloud-core==1.4.1
google-cloud-storage==1.30.0
google-crc32c==1.0.0
google-images-download==2.8.0
google-pasta==0.2.0
google-resumable-media==1.0.0
googleapis-common-protos==1.52.0
googledrivedownloader==0.4
gorilla==0.3.0
gpflow==2.0.5
gpytorch==1.0.1
graphene==2.1.8
graphql-core==2.3.2
graphql-relay==2.0.1
graphviz==0.8.4
grpcio @ file:///tmp/build/80754af9/grpcio_1597424467487/work
gunicorn==20.0.4
gym==0.17.2
h5py @ file:///tmp/build/80754af9/h5py_1593454119955/work
HeapDict==1.0.1
holoviews==1.12.7
htmlmin==0.1.12
httpie==2.1.0
hyperopt==0.2.4
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
ifaddr==0.1.7
imageai==2.1.5
ImageHash==4.0
imageio @ file:///tmp/build/80754af9/imageio_1594161405741/work
imbalanced-learn==0.6.1
imgaug==0.4.0
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1593446408836/work
importlib-resources==3.0.0
imutils==0.5.3
inflect==4.1.0
influxdb==5.3.0
invoke==1.4.1
ipydatawidgets==4.0.1
ipykernel @ file:///tmp/build/80754af9/ipykernel_1596206598566/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipympl==0.5.7
ipyparallel==6.2.4
ipython @ file:///tmp/build/80754af9/ipython_1593447368578/work
ipython-genutils==0.2.0
ipython-sql==0.3.9
ipywidgets==7.5.1
isodate==0.6.0
isort==4.3.21
itsdangerous==1.1.0
jax==0.1.57
jaxlib==0.1.37
jdcal==1.4.1
jedi==0.15.2
jellyfish==0.7.2
Jinja2==2.11.2
jmespath @ file:///tmp/build/80754af9/jmespath_1594304593830/work
joblib @ file:///tmp/build/80754af9/joblib_1594236160679/work
json5==0.9.5
jsonpickle==1.2
jsonschema @ file:///tmp/build/80754af9/jsonschema_1594363551272/work
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1594826976318/work
jupyter-console==6.1.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.3
jupyter-highlight-selected-word==0.2.0
jupyter-http-over-ws==0.0.7
jupyter-kernel-gateway==2.4.0
jupyter-latex-envs==1.4.6
jupyter-lsp==0.9.1
jupyter-nbextensions-configurator==0.4.1
jupyter-server==0.1.1
jupyter-server-proxy==1.2.0
jupyter-telemetry==0.1.0
jupyter-tensorboard @ git+https://github.com/cloudrainstar/jupyter_tensorboard.git@c19cdd98098ebfd9020f7e32f1d0f4c59aaf87be
Jupyter-Tooling-Extension @ file:///resources/jupyter-extensions/tooling-extension
jupyterhub==1.1.0
jupyterlab==2.1.5
jupyterlab-code-formatter==1.3.6
jupyterlab-git==0.20.0
jupyterlab-pygments==0.1.1
jupyterlab-server @ file:///tmp/build/80754af9/jupyterlab_server_1594164409481/work
jupytext==1.5.2
kafka-python==1.4.7
kaggle==1.5.6
keract==3.0.1
Keras==2.3.1
Keras-Applications @ file:///tmp/build/80754af9/keras-applications_1594366238411/work
Keras-Preprocessing==1.1.2
keras-rl==0.4.2
keras-tuner==1.0.1
keras-vis==0.4.1
kiwisolver==1.2.0
kmodes==0.10.1
kombu==4.6.11
kornia==0.1.4.post2
langid==1.1.6
lazy-object-proxy==1.4.3
lazycluster==0.2.0
libarchive-c==2.9
librosa==0.7.2
lifelines==0.23.8
lightfm==1.15
lightgbm==2.3.1
lime==0.1.1.37
line-profiler==3.0.2
llvmlite==0.33.0+1.g022ab0f
lmdb==0.98
lxml==4.5.2
Mako==1.1.3
Markdown @ file:///tmp/build/80754af9/markdown_1597433218422/work
MarkupSafe @ file:///tmp/build/80754af9/markupsafe_1594371495811/work
marshmallow==3.3.0
matplotlib @ file:///tmp/build/80754af9/matplotlib-base_1597876320876/work
mccabe==0.6.1
MechanicalSoup==0.12.0
memory-profiler==0.57.0
mesh-tensorflow==0.1.9
metaflow==2.0.1
metric-learn==0.5.0
micawber==0.5.1
minio==5.0.7
missingno==0.4.2
mistune @ file:///tmp/build/80754af9/mistune_1594373098390/work
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
mlflow==1.5.0
mlxtend==0.17.0
mmdnn==0.2.5
mock==3.0.5
modin==0.7.4
mongo-connector==3.1.1
more-itertools==8.4.0
motor==2.1.0
mpmath==1.1.0
mrjob==0.7.1
msgpack==1.0.0
msgpack-numpy==0.4.6
multidict==4.7.6
multipledispatch==0.6.0
multitasking==0.0.9
munch==2.5.0
murmurhash==1.0.2
mxnet-mkl==1.5.1.post0
mysqlclient==1.4.6
nbconvert @ file:///tmp/build/80754af9/nbconvert_1594376811065/work
nbdev==0.2.9
nbdime==2.0.0
nbformat==5.0.7
nbinteract==0.2.5
nbresuse==0.3.6
nbval==0.9.4
neo4j-driver==1.7.6
neobolt==1.7.17
neotime==1.7.4
netifaces==0.10.9
networkx @ file:///tmp/build/80754af9/networkx_1598376031484/work
nevergrad==0.3.1
nltk==3.4.5
nose==1.3.7
nose2==0.9.1
notebook==6.0.3
numba==0.50.1
numexpr==2.7.1
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1596233707986/work
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
odo==0.5.0
olefile==0.46
onnx==1.6.0
onnxruntime==1.1.1
opencv-python==4.1.2.30
opencv-python-headless==4.1.2.30
openpyxl==2.4.11
opt-einsum==3.1.0
optuna==1.5.0
packaging==20.4
paho-mqtt==1.5.0
pamela==1.0.0
pandas @ file:///tmp/build/80754af9/pandas_1598371486213/work
pandas-datareader==0.8.1
pandas-flavor==0.1.2
pandas-gbq==0.13.0
pandas-profiling==2.4.0
pandas-summary==0.0.7
pandasql==0.7.3
pandocfilters==1.4.2
papermill==1.2.1
param==1.9.3
paramiko==2.7.1
parse==1.16.0
parso==0.7.0
path==13.1.0
path.py==12.4.0
pathspec==0.8.0
patsy==0.5.1
pbkdf2==1.3
pbr==5.4.5
pexpect @ file:///tmp/build/80754af9/pexpect_1594383317248/work
phik==0.10.0
pickleDB==0.9.2
pickleshare @ file:///tmp/build/80754af9/pickleshare_1594384075987/work
pika==1.1.0
Pillow @ file:///tmp/build/80754af9/pillow_1594307325547/work
pipdeptree==0.13.2
pivottablejs==0.9.0
pkginfo==1.5.0.1
plac==1.1.3
plotly==4.5.0
pluggy==0.13.1
ply==3.11
plyfile==0.7.2
portalocker==2.0.0
potsdb==1.0.3
preshed==3.0.2
prettytable==0.7.2
progressbar==2.5
progressbar2==3.51.4
prometheus-client==0.8.0
prometheus-flask-exporter==0.16.0
promise==2.3
prompt-toolkit==3.0.5
protobuf==3.13.0
psutil @ file:///tmp/build/80754af9/psutil_1598370249042/work
psycopg2==2.8.4
ptvsd==4.3.2
ptyprocess==0.6.0
py==1.9.0
py-cpuinfo==7.0.0
py-spy==0.3.2
py3nvml==0.2.6
pyahocorasick==1.4.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pyAudioAnalysis==0.2.5
pybind11==2.5.0
pycodestyle==2.6.0
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pycryptodomex==3.9.8
pydantic==1.6.1
pydata-google-auth==1.1.0
pydocstyle==5.0.2
pydub==0.23.1
pyecharts==1.6.2
pyee==7.0.2
pyemd==0.5.1
pyflakes==2.2.0
PyFunctional==1.3.0
pygal==2.4.0
pyglet==1.5.0
Pygments==2.6.1
pyhdb==0.3.4
pyinstrument==3.1.0
pyinstrument-cext==0.2.2
pyjanitor==0.20.0
PyJWT==1.7.1
pylama==7.7.1
pyLDAvis==2.1.2
pylint==2.5.3
pymdstat==0.4.2
pymongo==3.10.1
PyMySQL==0.9.3
PyNaCl==1.4.0
pyod==0.7.7.1
pyodbc==4.0.28
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
pyparsing==2.4.7
pyperclip==1.8.0
Pyphen==0.9.5
pyppeteer==0.2.2
pyquery==1.4.1
pyro-api==0.1.2
pyro-ppl==1.2.1
pyrsistent==0.16.0
pysmi==0.3.4
pysnmp==4.4.12
PySocks @ file:///tmp/build/80754af9/pysocks_1594394576006/work
pystache==0.5.4
pyte==0.8.0
pytesseract==0.3.2
pytest==5.4.3
pytextrank==2.0.0
python-crontab @ file:///home/conda/feedstock_root/build_artifacts/python-crontab_1589741180512/work
python-dateutil==2.8.1
python-editor==1.0.4
python-json-logger==0.1.11
python-jsonrpc-server==0.3.4
python-language-server==0.31.7
python-slugify==4.0.1
python-utils==2.4.0
pythreejs==2.1.1
pytokenizations==0.6.0
pytorch-ignite==0.3.0
pytorch-lightning==0.8.5
pytorch-nlp==0.5.0
pytz==2020.1
pyviz-comms==0.7.6
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==19.0.2
qgrid==1.2.0
querystring-parser==1.2.4
ranger-fm==1.9.3
ratelim==0.1.6
rdflib==5.0.0
records==0.5.3
redis==3.3.11
rednose==1.3.0
regex @ file:///tmp/build/80754af9/regex_1596829692676/work
remote-ikernel==0.4.6
requests @ file:///tmp/build/80754af9/requests_1592841827918/work
requests-html==0.10.0
requests-oauthlib==1.3.0
resampy==0.2.2
retrying==1.3.3
rope==0.16.0
rsa @ file:///tmp/build/80754af9/rsa_1596998415516/work
ruamel-yaml==0.15.87
Rx==1.6.1
s3transfer==0.3.3
sacrebleu==1.4.13
sacred==0.8.1
sacremoses==0.0.43
safety==1.8.5
sage-importance==0.0.4
scalene==0.6.3
scandir==1.10.0
scikit-image==0.16.2
scikit-learn==0.22.1
scikit-optimize==0.5.2
scikit-plot==0.3.7
scikit-surprise==1.1.0
scipy @ file:///tmp/build/80754af9/scipy_1597686620742/work
seaborn==0.10.1
selenium==3.141.0
semantic-version==2.8.5
Send2Trash==1.5.0
sentencepiece==0.1.85
shap==0.34.0
Shapely==1.7.1
simpervisor==0.3
simplejson==3.17.2
six==1.15.0
sklearn-pandas==1.8.0
skorch==0.7.0
smart-open==1.9.0
smmap==3.0.4
snowballstemmer==2.0.0
sortedcontainers==2.2.2
SoundFile==0.10.3.post1
soupsieve==1.9.5
spacy==2.2.3
spacy-transformers==0.6.2
SQLAlchemy==1.3.18
sqlparse==0.3.1
srsly==1.0.2
stanfordnlp==0.2.0
starlette==0.12.9
statsd==3.3.0
statsmodels==0.11.0
stevedore==3.2.0
stop-words==2018.7.23
stopit==1.1.2
stormssh==0.7.0
streamz==0.5.2
suod==0.0.4
supervisor==4.2.1
supervisor-stdout==0.1.1
tables==3.6.1
tablib==1.0.0
tabulate==0.8.7
tblib==1.7.0
tenacity==6.2.0
tensorboard==2.2.1
tensorboard-plugin-wit==1.6.0
tensorboardX==2.0
tensorflow==2.3.0
tensorflow-datasets==2.0.0
tensorflow-estimator==2.3.0
tensorflow-graphics==1.0.0
tensorflow-hub==0.7.0
tensorflow-metadata==0.23.0
tensorflow-model-optimization==0.2.1
tensorflow-privacy==0.2.2
tensorflow-probability==0.9.0
tensorflow-text==2.2.1
tensorflowonspark==2.1.3
tensorlayer==2.2.1
tensorly==0.4.5
tensorpack==0.9.8
tensorwatch==0.8.7
termcolor==1.1.0
terminado==0.8.3
terminaltables==3.1.0
termstyle==0.1.11
tesserocr==2.5.0
testpath==0.4.4
text-unidecode==1.3
textacy==0.9.1
textblob==0.15.3
textdistance==4.1.5
textwrap3==0.9.2
tf-explain==0.2.0
tflearn==0.3.2
Theano==1.0.4
thefuck==3.29
thinc==7.3.1
thundersvm==0.3.3
tinydb==3.15.2
tokenizers==0.2.1
toml==0.10.1
toolz==0.10.0
torch==1.4.0
torch-geometric==1.3.2
torchaudio==0.4.0
torchbearer==0.5.1
torchbiggraph==1.0.0
torchcontrib==0.0.2
torchstat==0.0.7
torchtext==0.5.0
torchvision==0.5.0
tornado==6.0.4
TPOT==0.11.1
tqdm @ file:///tmp/build/80754af9/tqdm_1596810128862/work
traitlets==4.3.3
traittypes==0.2.1
transformers==2.8.0
tsfresh==0.13.0
tslearn==0.3.0
typed-ast==1.4.1
typing-extensions==3.7.4.3
ujson==1.35
umap-learn==0.3.10
update-checker==0.18.0
urllib3 @ file:///tmp/build/80754af9/urllib3_1597086586889/work
vega==2.6.0
vega-datasets==0.8.0
-e git+https://github.com/domenicodigangi/vessel_proj.git@570c6b6ae00295ab8e8dddd7fc25973097cab874#egg=vessel_proj
vine==1.3.0
virtualenv==20.0.20
vispy==0.6.4
voila==0.1.22
vowpalwabbit==8.8.0
w3lib==1.22.0
wasabi==0.8.0
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
websocket-client==0.57.0
websockets==8.1
Werkzeug==0.16.1
widgetsnbextension==3.5.1
wifi==0.3.8
wordcloud==1.6.0
wrapt==1.12.1
xarray==0.14.1
xeus-python==0.8.3
xgboost==0.90
xlearn==0.40a1
xlrd==1.2.0
xmltodict==0.12.0
yapf==0.29.0
yappi==1.2.3
yarl==1.5.1
yellowbrick==1.0.1
yfinance==0.1.54
you-get==0.4.1388
zeroconf==0.28.1
zict==2.0.0
zipp==3.1.0
