alembic==1.8.0
asttokens==2.0.5
backcall==0.2.0
black==22.3.0
certifi==2022.6.15
charset-normalizer==2.0.12
click==8.1.3
cloudpickle==2.1.0
databricks-cli==0.17.0
debugpy==1.6.0
decorator==5.1.1
docker==5.0.3
entrypoints==0.4
executing==0.8.3
Flask==2.1.2
gitdb==4.0.9
GitPython==3.1.27
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
importlib-metadata==4.11.4
importlib-resources==5.8.0
ipykernel==6.15.0
ipython==8.4.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
jupyter-client==7.3.4
jupyter-core==4.10.0
Mako==1.2.0
MarkupSafe==2.1.1
matplotlib-inline==0.1.3
mccabe==0.7.0
mlflow==1.26.1
mypy-extensions==0.4.3
nest-asyncio==1.5.5
numpy==1.22.4
oauthlib==3.2.0
packaging==21.3
pandas==1.4.2
parso==0.8.3
pathspec==0.9.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.1
platformdirs==2.5.2
prometheus-client==0.14.1
prometheus-flask-exporter==0.20.2
prompt-toolkit==3.0.29
protobuf==4.21.1
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
pycodestyle==2.8.0
pydocstyle==6.1.1
pyflakes==2.4.0
Pygments==2.12.0
PyJWT==2.4.0
pylama==8.3.8
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2022.1
PyYAML==6.0
pyzmq==23.2.0
querystring-parser==1.2.4
requests==2.28.0
scikit-learn==1.1.1
scipy==1.8.1
six==1.16.0
smmap==5.0.0
snowballstemmer==2.2.0
SQLAlchemy==1.4.37
sqlparse==0.4.2
stack-data==0.3.0
tabulate==0.8.9
threadpoolctl==3.1.0
tomli==2.0.1
torch==1.11.0
torch-cluster==1.6.0
torch-geometric==2.0.4
torch-scatter==2.0.9
torch-sparse==0.6.13
torch-spline-conv==1.2.1
torchaudio==0.11.0
torchvision==0.12.0
tornado==6.1
tqdm==4.64.0
traitlets==5.3.0
typing-extensions==4.2.0
urllib3==1.26.9
wcwidth==0.2.5
websocket-client==1.3.3
Werkzeug==2.1.2
zipp==3.8.0aiofiles==0.8.0
aiosqlite==0.17.0
anyio==3.5.0
appdirs==1.4.4
argh==0.26.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.0
astroid==2.9.0
asyncpg==0.25.0
attrs @ file:///tmp/build/80754af9/attrs_1620827162558/work
autopep8 @ file:///opt/conda/conda-bld/autopep8_1639166893812/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
bleach==4.1.0
bokeh @ file:///tmp/build/80754af9/bokeh_1638349634419/work
Bottleneck==1.3.2
brotlipy==0.7.0
certifi==2021.10.8
cffi @ file:///tmp/build/80754af9/cffi_1625807838443/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.0.3
click-plugins @ file:///Users/ktietz/demo/mc3/conda-bld/click-plugins_1630665883852/work
cligj==0.7.2
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1632508026186/work
colorama==0.4.4
commonmark==0.9.1
configparser==5.1.0
coolname==1.1.0
croniter==1.2.0
cryptography @ file:///tmp/build/80754af9/cryptography_1635366571107/work
cycler==0.10.0
cytoolz==0.11.0
dask==2021.10.0
debugpy @ file:///tmp/build/80754af9/debugpy_1637091796427/work
decorator @ file:///tmp/build/80754af9/decorator_1632776554403/work
defusedxml==0.7.1
Deprecated==1.2.13
distributed @ file:///tmp/build/80754af9/distributed_1635968203122/work
docker==5.0.3
docker-pycreds==0.4.0
entrypoints==0.3
fastapi==0.73.0
featuretools==1.4.0
filelock==3.4.2
Fiona==1.8.13.post1
fonttools==4.25.0
fsspec @ file:///tmp/build/80754af9/fsspec_1636116461911/work
GDAL==3.0.2
geopandas @ file:///tmp/build/80754af9/geopandas_1627401391374/work
gitdb==4.0.9
GitPython==3.1.24
